[user]
	name = Emile Turcotte
	signingkey = 58605F08885C6901
	email = dev@emileturcotte.com
[core]
	editor = vi
[commit]
	gpgsign = true
[color "status"]
	changed = yellow
	added = green
	untracked = magenta
	deleted = red
[gpg]
	program = gpg2
[credential]
	helper = store
