[user]
	name = Émile Turcotte
	signingkey = 58605F08885C6901
	email = dev@emileturcotte.com
[core]
	editor = vim
[commit]
	gpgsign = true
[color "status"]
	changed = yellow
	added = green
	untracked = magenta
	deleted = red
[gpg]
	program = /usr/bin/gpg2
[credential]
	credentialStore = gpg
	helper = !pass-git-helper $@
	useHttpPath = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	pl = pull
	ps = push
	m  = merge
[push]
	default = current
	autoSetupRemote = true
