[user]
	name = Émile Turcotte
	signingkey = 58605F08885C6901
	email = dev@emileturcotte.com
[core]
	editor = vim
[commit]
	gpgsign = true
[color "status"]
	changed = yellow
	added = green
	untracked = magenta
	deleted = red
[gpg]
	program = gpg2
	program = /usr/bin/gpg2
[credential]
	credentialStore = gpg
	helper = /home/emile/.dotnet/tools/git-credential-manager
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	pl = pull
	ps = push
	m  = merge
[push]
	default = current
	autoSetupRemote = true
[credential "https://dev.azure.com"]
	useHttpPath = true
