.cache/
.local/*
!.local/bin/
.config/pulse/cookie
.config/zsh/.zsh_history
.config/zsh/.zcompdump
.ssh/known_hosts
.config/dconf/

# Install/setup artifacts (not part of the dotfiles)
*.log
/user_configuration.json
