configuration {
  modi: "window,drun,run";
  font: "JetBrainsMono Nerd Font Medium 10";
  show-icons: true;
  icon-theme: "Papirus";
  drun-display-format: "{icon} {name}";
  display-drun: "Applications:";
  display-window: "Windows:";
}

@theme "themes/nord"
